.modal ul {
  list-style-type: none;
  padding: 0;
}
.modal input {
  appearance: textfield;
  background-color: var(--background-light);
  border: 1px solid var(--accent);
  padding: 8px 5px 5px 5px;
  border-radius: 10px;
  color: var(--foreground);
  width: 100%;
  padding: 15px;
}
.modal input::-webkit-outer-spin-button,
.modal input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal input:focus {
  outline: none;
  box-shadow: 1px 1px 4px var(--accent);
}
.modal label {
  font-size: 0.9rem;
  color: var(--accent);
}
.modal li {
  display: flex;
  justify-content: space-between; /* items spread across */
  align-items: center;
}
.left {
  flex: 1;
}