
.button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;

  font-size: 0.95rem;
  font-weight: 600;
  font-family: inherit;
  color: var(--background-dark);
  background: var(--accent);

  border: none;
  border-radius: var(--border-radius);

  cursor: pointer;
}