.button {
  background: none;
  color: var(--foreground);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-style: none;
  border-radius: 6px; /* or 0 if you want sharp corners */
  font-size: 1.2rem;  /* scale arrow/text */
}

.button span {
  display: inline-block;
}