.switch {
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  z-index: inherit;
}

.checkbox {
  display: none;
}

.slider {
  position: relative;
  display: block;
  width: 56px;   /* 14 * 4px (tailwind w-14) */
  height: 32px;  /* 8 * 4px (tailwind h-8) */
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--accent);
  padding: 0;
  border-radius: 9999px; /* full round */
}

.dot {
  position: absolute;
  top: 4px;   /* 1 * 4px (tailwind top-1) */
  left: 4px;  /* 1 * 4px (tailwind left-1) */
  width: 24px; /* 6 * 4px */
  height: 24px;
  border-radius: 50%;
  /*background-color: var(--foreground);*/
}