.div {
  margin: 20px;
  align-self: center;
  border-radius: 20px;
  padding: 30px;
  border-style: solid;
  border: 2px;
  box-shadow: 1px 1px 10px var(--accent);
  border-color: var(--accent);
  background-color: var(--background-dark);
  background: linear-gradient(
    to top,
    var(--background-dark),
    var(--background-light)
  );

  display: inline-flex;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  /*align-items: center;*/
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
