.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
  gap: 2rem;
  background: var(--background);
}

.chart-section {
  width: 100%;
  max-width: 1200px;
  background: var(--background-light);
  border-radius: var(--border-radius);
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.modal {
  width: 40vw;
  height: 60vh;
  background-color: var(--background-light);
}