.button {
  color: var(--accent);
  background-color: var(--background-light);
  border-color: var(--accent);
  border-style: solid;
  border-width: 1px;
  margin-left: auto;

  position: absolute;
  right: 0; /* stick it to the right */
  top: 0; /* adjust as needed */
  margin: 20px;
  padding: 15px 20px;
  font-size: 16px;
}
