.button {
  color: var(--accent);
  background-color: var(--background-light);
  border-color: var(--accent);
  border-style: solid;
  border-width: 1px;
  margin-left: auto;
}

.div button {
    margin: 0px;
}
.div h3 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.div {
    border-style: solid;
    padding: 20px;
    border-color: var(--accent);
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(76, 175, 239, 0.3);
    background-color: var(--background-light);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}