.modal {
  min-width: 500px;
  border-radius: 35px;
  border-color: var(--accent);
  background-color: var(--background);
  color: var(--foreground);
  box-shadow: 1px 1px 10px var(--accent);
  padding: 30px;
  position: fixed;
  z-index: 100;
  max-height: 700px;

  /* remove scrolling here */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  /* make only the list scrollable */
  max-height: 600px; /* adjust so it fits within modal */
  overflow-y: auto;
  padding-right: 0.5rem;
}
.modal h2 {
  color: var(--accent);
}
.modal input {
  appearance: textfield;
  background-color: var(--background-light);
  border: 1px solid var(--accent);
  padding: 8px 5px 5px 5px;
  border-radius: 10px;
  color: var(--foreground);
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
}
.modal input::-webkit-outer-spin-button,
.modal input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal input:focus {
  outline: none;
  box-shadow: 1px 1px 4px var(--accent);
}
.modal label {
  font-size: 0.9rem;
  color: var(--accent);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header button {
  background-color: var(--accent);
}
.modal li {
  margin: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 5px;
  border-color: var(--background-light);
  cursor: pointer;
  text-align: center;
}
