.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 0.75rem;
}

.content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  /* make only the list scrollable */
  max-height: min(600px, 60vh); /* adjust so it fits within modal */
  overflow-y: auto;
  padding-right: 0.5rem;
}
.content input {
  appearance: textfield;
  background-color: var(--background-light);
  border: 1px solid var(--accent);
  padding: 8px 5px 5px 5px;
  border-radius: 10px;
  color: var(--foreground);
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
}
.content input::-webkit-outer-spin-button,
.content input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.content input:focus {
  outline: none;
  box-shadow: 1px 1px 4px var(--accent);
}
.content label {
  font-size: 0.9rem;
  color: var(--accent);
}
.content li {
  margin: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 5px;
  border-color: var(--background-light);
  cursor: pointer;
  text-align: center;
}
