.div {
  margin: 20px auto 5px auto;
  padding: 1.5rem;
  border-radius: 15px;
  border: 2px solid var(--accent);
  background: linear-gradient(to top, var(--background-dark), var(--background-light));
  box-shadow: 0 4px 20px rgba(76, 175, 239, 0.3);
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  gap: 1.5rem;
}
